.comment {
    .name {
        font-weight: bold;
    }

    .date {
        margin-left: 1em;
        font-size: 0.85em;
        color: #999;
    }

    .content {
        margin-top: 0.5em;
    }
}
