// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

#editor-container {
    margin-top: 1em;
}

@media (min-width: $screen-md-min) {
    #editor-container {
        margin-top: 2em;
    }
}

.editor {
    outline: none;
    font-size: 1em;
    padding: 2em;
    min-height: 300px;
}
